@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  background: linear-gradient(180deg, var(--color-primary) 0%, #132a53 100%);
  box-shadow: 0 1rem 0.875rem 0 #04152d;
  padding: 1.125rem 1.5rem;
  max-width: 28.75rem;
}

.image {
  margin-bottom: 1.625rem;
}

.title {
  font-size: 1.5625rem;
  font-weight: 700;
}

.description {
  margin-top: 0.375rem;
  font-size: 1.5625rem;
  font-weight: 400;
  white-space: pre-wrap;
}

.skills {
  width: 100%;
  margin-top: 0.875rem;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
  list-style: none;
}

.skill {
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 0.125rem 0.6rem;
}

.descriptionWarningContainer {
  display: flex;
  align-items: center;
  margin-top: 0.875rem;
  border-radius: 30px;
  background: #f5cd6e;
  padding: 0.5rem 1.5rem;
}

.descriptionWarning {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  color: #6a3800;
  width: 22.1875rem;
  margin: 0 auto;
}

.links {
  width: 100%;
  margin-top: 1.625rem;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.875rem;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 0.0625rem 1.375rem;
}
