@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 7.5rem; /* 120px */
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 3.625rem 10%; /* 58px 10% */
  gap: 0.625rem; /* 10px */
}

.text h2 {
  font-size: 5rem; /* 80px */
  font-weight: 700;
  letter-spacing: 0.25rem; /* 4px */
}

.text p {
  font-size: 2.5rem; /* 40px */
  font-weight: 400;
  letter-spacing: 0.125rem; /* 2px */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 1.625rem; /* 26px */
}

.link {
  display: flex;
  align-items: center;
  gap: 1.5625rem; /* 25px */
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.875rem; /* 30px */
  font-weight: 400;
  letter-spacing: 0.09375rem; /* 1.5px */
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 1.4375rem; /* 23px */
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
