@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 4.9375rem;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 2.1875rem;
  font-weight: 700;
  letter-spacing: 0.109375rem;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0.875rem;
}

.skills {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.3125rem;
  padding-bottom: 2.5rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6875rem;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 7.5rem;
}

.skillImageContainer img {
  width: 4.69rem;
}

.skill p {
  font-size: 1.5625rem;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.historyItem {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1.0625rem;
  background: var(--color-secondary);
  background: linear-gradient(
    90deg,
    var(--color-secondary) 0%,
    rgba(25, 55, 109, 0) 100%
  );
  border-radius: 0.625rem;
  padding: 1.125rem 2.25rem;
}

.historyItemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.historyItem img {
  height: 3.125rem;
}

.historyItemDetails {
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 1.875rem;
  font-weight: 500;
}

.historyItemDetails h2 {
  font-size: 1.5625rem;
  font-style: italic;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 1.25rem;
  font-weight: 300;
}

.historyDetails {
  margin-top: 0.375rem;
  list-style-position: inside;
  font-size: 1.5625rem;
  list-style-type: disc;
  margin-left: 1.0625rem;
}

@media screen and (max-width: 830px) {
  .container {
    margin-left: 0%;
    margin-right: 0%;
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 2.125rem;
  }

  .title {
    text-align: center;
  }

  .skills {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 0.5625rem;
  }

  .historyItem {
    padding: 1.125rem 1.25rem;
  }

  .historyItemHeader {
    align-items: flex-start;
    flex-direction: column;
  }

  .historyItem img {
    margin: 0 auto;
  }

  .historyItemDetails h3 {
    font-size: 1.675rem;
    font-weight: 500;
  }

  .historyItemDetails h2 {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
  }

  .historyDetails {
    text-align: left;
    font-size: 1.4rem;
    width: 100%;
    padding-right: 1.5rem;
  }
}
