@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 4.9375rem; /* 79px */
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 2.1875rem; /* 35px */
  font-weight: 700;
  letter-spacing: 0.109375rem; /* 1.75px */
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0.875rem; /* 14px */
}

.skills {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.3125rem; /* 37px */
  padding-bottom: 2.5rem; /* 40px */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6875rem; /* 11px */
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem; /* 120px */
  height: 7.5rem; /* 120px */
}

.skillImageContainer img {
  width: 4.69rem;
}

.skill p {
  font-size: 1.5625rem; /* 25px */
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem; /* 40px */
}

.historyItem {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1.0625rem; /* 17px */
  background: var(--color-secondary);
  background: linear-gradient(
    90deg,
    var(--color-secondary) 0%,
    rgba(25, 55, 109, 0) 100%
  );
  border-radius: 0.625rem; /* 10px */
  padding: 1.125rem 2.25rem; /* 18px 36px */
}

.historyItemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem; /* 24px */
}

.historyItem img {
  height: 3.125rem; /* 50px */
}

.historyItemDetails {
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 1.875rem; /* 30px */
  font-weight: 500;
}

.historyItemDetails h2 {
  font-size: 1.5625rem; /* 25px */
  font-style: italic;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 1.25rem; /* 20px */
  font-weight: 300;
}

.historyDetails {
  margin-top: 0.375rem; /* 6px */
  list-style-position: inside;
  font-size: 1.5625rem; /* 25px */
  list-style-type: disc;
  margin-left: 1.0625rem; /* 17px */
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 2.125rem; /* 34px */
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 0.5625rem; /* 9px */
  }
}
